<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - RexMarkt</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/rexmarket.png' %}" />


    <!-- CSS de Bootstrap y tu archivo de estilos -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Scripts de Bootstrap y jQuery -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <!-- Panel de login y registro -->
    <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>¿Tienes una cuenta?</h2>
            <p>Inicia sesión para continuar</p>
            <label id="label-register" for="log-reg-show">Iniciar Sesión</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <!-- Panel de Registro -->
        <div class="register-info-box">
            <h2>¿No tienes una cuenta?</h2>
            <p>Regístrate y comienza a emprender</p>
            <label id="label-login" for="log-login-show" class="btn btn-light"><a
                    href="{% url 'signup' %}">Registrarse</a></label>
        </div>

        <div class="white-panel">
            <!-- Formulario de Inicio de Sesión -->
            <div class="login-show">
                <a href="{% url 'home' %}">X</a>

                <form method="post" class="box">
                    <h2 class="text-center" id="h2">Iniciar Sesión</h2>
                    {% csrf_token %}
                    <div class="form-group">
                        <input 
                            type="text" 
                            name="username" 
                            value="{{ form.username.value|default:'' }}" 
                            placeholder="RUT" 
                            class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                            {% if form.username.errors %}
                                data-bs-toggle="tooltip" 
                                data-bs-placement="top" 
                                title="{{ form.username.errors|join:', ' }}"
                            {% endif %}
                        >
                    </div>
                
                    <!-- Campo para la contraseña -->
                    <div class="form-group">
                        <input 
                            type="password" 
                            name="password" 
                            value="{{ form.password.value|default:'' }}" 
                            placeholder="Contraseña" 
                            class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                            {% if form.password.errors %}
                                data-bs-toggle="tooltip" 
                                data-bs-placement="top" 
                                title="{{ form.password.errors|join:', ' }}"
                            {% endif %}
                        >
                    </div>
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        <p>Rut o contraseña incorrecto</p>
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Acceder</button>

                    
                    <!-- <div class="register">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div> -->
                </form>
            </div>

            </form>
        </div>
    </div>
    </div>

    <!-- Script JavaScript -->
    <script src="{% static 'js/java.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>