<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section>
        <!-- Formulario de inicio de sesión -->
        <form method="post">
            <h1>Inicio de Sesión</h1>
            {% csrf_token %}
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                {{ form.username }}
                <label for="id_username">Rut</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                {{ form.password }}
                <label for="id_password">Contraseña</label>
            </div>
            <button type="submit">Acceder</button>
            <div class="register">
                <p>¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate</a></p>
            </div>
        </form>
    </section>
</body>
</html>