<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verificación</title>
    {% load static %}

       <!-- CSS de Bootstrap y tu archivo de estilos -->
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

       <!-- Scripts de Bootstrap y jQuery -->
       <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <!-- Enlace al archivo CSS -->
       <link rel="stylesheet" href="{% static 'css/verify.css' %}">

</head>
<body>
    <div class="login-reg-panel">
        <div class="white-panel">
            <div class="register-show">
                <h3 class="text-center">Verificar Código</h3>
    
                <form method="post" class="box">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="verification_code" placeholder="Código de verificación"
                            class="form-control" required>
                    </div>
                    <div class="alert alert-primary">Revisa el codigo de verificación en tu correo</div>
                    <button type="submit" class="btn btn-primary btn-block">Verificar</button>
                </form>
            </div>
        </div>
    
    
    </div>



    <script src="{% static 'js/signup.js' %}"></script>

    
</body>
</html>

