/* Fondo imagen https://alvarotrigo.com/blog/animated-backgrounds-css*/
/*color de imagen https://ideakreativa.net/efectos-de-animacion-de-texto-css-ejemplos*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

/* Asegurar que el html y body ocupen toda la altura */
html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(235, 235, 235);
}

.animate-charcter {
    font-family: "bagel fat one", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 100px;
    text-transform: uppercase;
}

.rex {
    color: rgb(255, 140, 0);
}

.market {
    color: #000000; /* Negro para "market" */
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

h1 {
    color: black;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#nav {
    background: darkorange; /* Fondo naranja */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    z-index: 10; /* Asegura que el navbar esté siempre encima */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .animate-charcter {
        font-size: 2.5rem;
    }
    
    .product-item img {
        height: 150px;
    }

    body {
        background-size: 2000px;
    }

    /* Navbar responsivo */
    .navbar-nav {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .navbar-nav .nav-item {
        width: auto;
    }

    .navbar-nav .nav-item li {
        width: 100%;
    }

    .d-flex.justify-content-center {
        flex-wrap: wrap;
    }

    .form-control {
        width: 100%;
    }

    /* Ajuste del perfil en pantallas pequeñas */
    .d-flex.align-items-center.justify-content-end {
        width: 100%;
        justify-content: flex-start;
    }
}

/* Para asegurar que el footer se mantenga al fondo en pantallas pequeñas */
body, html {
  height: 100%;
}

.container.py-5 {
  min-height: calc(100vh - 120px); /* Ajusta el espacio si es necesario */
}

/* Footer */
footer {
    height: 100px; /* Ajusta según la altura real de tu footer */
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
}

footer .container {
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    color: white;
}
