@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
  font-family: 'Mukta', sans-serif;
  height: 100vh;
  min-height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #444444;
}

.login-reg-panel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 85%;
  margin: auto;
  height: 400px;
  background-color: rgb(255, 150, 0);
  border-radius: 10px;
}

.white-panel {
  background-color: rgb(250, 248, 248);
  height: 600px;
  position: absolute;
  top: -120px;
  width: 45%;
  right: calc(73% - 0px);
  transition: 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
  border-radius: 10px;

}

/* Estilos de botones */
.login-reg-panel #label-login,
.login-reg-panel #label-register {
  border: 1px solid #9E9E9E;
  padding: 10px 20px;
  width: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin: 20px;
  color: white;
  
}

.login-info-box{
    width: 30%;
    padding: 0 50px;
    top: 20%;
    position: absolute;
    text-align: left;
    color: white;
    margin-left: 50px;
}
.register-info-box {
  width: 30%;
  padding: 0 50px;
  top: 20%;
  position: absolute;
  text-align: left;
  color: white;
  margin-right: 50px;
}

.login-info-box {
  left: 0;
}

.register-info-box {
  right: 0;
}

.login-show,
.register-show {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #242424;
  text-align: left;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.show-log-panel {
  display: block;
  opacity: 1;
}

/* Campos de texto */
.login-show input[type="text"],
.login-show input[type="password"],
.register-show input[type="text"],
.register-show input[type="password"],
.register-show input[type="email"],
.register-show input[type="date"] {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #b5b5b5;
  border-radius: 24px;
  outline: none;
  text-align: center;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.register-show input[type="email"]:focus,
.register-show input[type="date"]:focus {
  border-color: #2ecc71;
}

/* Botones de acción */
.box input[type="submit"] {
  max-width: 150px;
  width: 100%;
  background: #34b7db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

/* Panel derecho para animaciones */
.right-log {
  transform: translateX(100%);
}

/* Animación para el panel blanco */
.right-log .white-panel {
  transform: translateX(100%);
}



/* Mostrar panel seleccionado */
#log-login-show:checked ~ .white-panel .register-show {
  display: none;
}

#log-reg-show:checked ~ .white-panel .login-show {
  display: none;
}

/* Esconder panel no seleccionado */
#log-reg-show:checked ~ .white-panel .register-show {
  display: block;
  opacity: 1;
}

#log-login-show:checked ~ .white-panel .login-show {
  display: block;
  opacity: 1;
}

.credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #3B3B25;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 99;
}
