{% extends "base/base.html" %}

{% block titulo %}
    Editar Producto: {{ producto.nombre }}
{% endblock %}

{% block contenido %}


    <div class="container py-5">
        <h1 class="text-center mb-4">Editar Producto: <span class="text-primary">{{ producto.nombre }}</span></h1>
        
        <!-- Formulario de edición -->
        <div class="card shadow-lg">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- Mostrar el formulario con clases de Bootstrap -->
                    <div class="mb-3">
                        <label for="id_nombre" class="form-label">Nombre del Producto</label>
                        {{ form.nombre }}
                    </div>

                    <div class="mb-3">
                        <label for="id_descripcion" class="form-label">Descripción</label>
                        {{ form.descripcion }}
                    </div>

                    <div class="mb-3">
                        <label for="id_precio" class="form-label">Precio</label>
                        {{ form.precio }}
                    </div>

                    <div class="mb-3">
                        <label for="id_imagen" class="form-label">Imagen</label>
                        {{ form.imagen }}
                    </div>
                    <div class="mb-3">
                        <label for="id_categorias" class="form-label">Categorías</label>
                        {{ form.categoria }}
                    </div>
                    
                    <!-- Botón para enviar el formulario -->
                    <button type="submit" class="btn btn-success w-100 mt-3">Actualizar Producto</button>
                </form>
            </div>
        </div>

        <!-- Botón para volver al detalle del producto -->
        <div class="text-center mt-4">
            <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-secondary">Volver al detalle</a>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'home' %}" class="btn btn-secondary">Volver a pagina principal</a>
        </div>
    </div>
    <script>
        const inputPrecio = document.getElementById('id_precio');
        
        inputPrecio.addEventListener('input', function() {
            // Eliminar todos los caracteres que no sean números o comas
            let valor = this.value.replace(/[^\d,]/g, '');
    
            // Reemplazar comas ya existentes con puntos para evitar duplicados
            valor = valor.replace(/,/g, '');
    
            // Agregar el separador de miles cada 3 dígitos
            valor = valor.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    
            // Asignar el valor al campo de entrada
            this.value = valor;
        });
    </script>
    
    
{% endblock %}